<div class="row mb-2">
    <div class="col-9">
        <h1>All Categories</h1>
    </div>
    <div class="col-3">
        <a href="/Category/Create" class="btn btn-danger"><i class="bi bi-plus-circle"></i> Create new category</a>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Number of prdouct</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var item in Model) *@
            @* { *@
            @*     <tr class="table-light"> *@
            @*         <th scope="row">@item.Id</th> *@
            @*         <td>@item.Name</td> *@
            @*         <td>@item.Products.Count</td> *@
            @*     </tr> *@
            @* } *@

            @for (int i = 0; i < Model.Count; i++) {
                    <tr class="table-light">
                        <th scope="row">@(i+1)</th>
                        <th scope="row">@Model[i].Name</th>
                        <th scope="row">@Model[i].Products.Count</th>
                     </tr>
            }
        </tbody>
    </table>
</div>